#header {
	height: 65px;
	position: relative;
	
	background: #222222;
}

#nav {
	display: flex;
	justify-content: space-between;

	position: absolute;
	bottom: 0;
	left: 150px;
	right: 50px;
}

#header #nav a {
	color: white;
	border-bottom: 3px solid #888888;
	
	text-decoration: none;
	font-size: 1.25em;

	padding: 10px 5px 2px;
	margin-left: 10px;
}

#header #nav a:hover {
	color: #ffaa55;
	border-bottom: none;
}
