.post a:first-child {
	color: black;
	text-decoration: underline;
}

.post a:first-child:hover {
	text-decoration: none;
}

.post p {
	margin-left: 0;
}

.post + .post {
	margin-top: 50px;
	border-top: 1px solid black;
}

.post img {
	max-width: 80%;
	margin: 0 auto;
	display: block;
}
