body {
	margin: 0;
	min-width: 700px;
	font-family: sans-serif;
}

h1 {
	font-size: 1.75em;
	margin: 2em 0 0 0;
}

h1:first-child {
	margin-top: 1em;
}

h2 {
	font-size: 1.25em;
	margin: 1em 0 0 0;
}

h3 {
	font-size: 1.2em;
	margin: 1em 0 0 0;
}

h4 {
	font-size: 1em;
	margin: 1em 0 0 0;
}

h5 {
	font-size: 0.9em;
	margin: 1em 0 0 0;
}

h6 {
	font-size: 0.8em;
	margin: 1em 0 0 0;
}

p {
	margin-left: 10px;
}

a {
	color: #3333ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#content {
	padding: 0 150px;
	max-width: 1000px;
}

code {
	display: inline-block;
	margin-left: 10px;

	white-space: pre;

	background-color: #f0f0f0;
	padding: 5px;
	border: 1px solid black;
	border-radius: 2px;
}
