<!DOCTYPE html>
<html>
	<head>
		{% include 'head_base.html' %}
		<style type="text/css">
			.downloadheader {
					text-align: center;
			}
			
			.download {
					background: #0080af;
					color: white;
					text-decoration: none;
					
					margin: 0 auto;
					padding-left: 10px;
					font-size: 1.25em;
					font-weight: bold;
					
					display: table;
					width: 500px;
					height: 50px;
					line-height: 50px;
			}
			
			.download + .download {
					margin-top: 10px;
			}
			
			.download:hover {
					background: #00a0ff;
					color: black;
			}
			
			.download img {
					margin-right: 10px;
					display: inline;
					vertical-align: middle;
					width: 25px;
			}
		</style>
	</head>
	<body>
		{% include 'header.html' %}

		<div id="content">
			<h1> Download Super Tux Party {{ version }} </h1>
			<h2 class="downloadheader"> Choose your operating system </h2>
			
			<a class="download" href="/download/{{release}}/linux"> <img src="/images/linux.svg" /> Linux </a>
			<a class="download" href="/download/{{release}}/macos"> <img src="/images/apple.svg" /> Mac OS </a>
			<a class="download" href="/download/{{release}}/windows"> <img src="/images/windows.svg" /> Windows </a>
			<a class="download" href="/download/{{release}}/source"> <img src="/images/code.svg" /> Source Code </a>
		</div>
	</body>
</html>
