<!DOCTYPE html>
<html>
	<head>
		{% include 'head_base.html' %}
		<link rel="stylesheet" href="/css/post.css">
	</head>
	<body>
		{% include 'header.html' %}

		<div id="content">
			{% for post in posts %}
			<div class="post">
			  <a href="{{ post.target }}"> {{ post.header|markdown }} </a>
				{{ post.content|markdown }}
			</div>
			{% endfor %}
		</div>
	</body>
</html>
