<!DOCTYPE html>
<html>
	<head>
	  {% include 'head_base.html' %}
	  {% for style in stylesheets %}
	  <link rel="stylesheet" href="{{ style }}">
	  {% endfor %}
	</head>
	<body>
		{% include 'header.html' %}

		<div id="content" class="{{ css_class }}">
			{{ content|markdown }}
		</div>
	</body>
</html>
